.panel-heading button{
	float:right;
}
.panel ul li span{
	display:inline-block;
	float:right;
}
.hero{
	display:none;
}
.hero.active{
	display:block;
}
.hero td,.hero th{
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:40px;
}
.skillChart {
	width:40%;
	padding:0;
	position:relative;
}
.skillChart>div {
	min-height:225px;
}

.hero .panel-body{
	padding:0;
}

.hero .panel-body table{
	margin:0;
}

.hero .panel-body tr:first-child th,.hero .panel-body tr:first-child td{
	border-top: 0px;
}
.container{
	display:none;
}
.container.active{
	display:block;
}
.navbar-brand.danger{
	color:red;
}
.navbar-brand.danger:hover{
	color:red;
}
.bot {
    display: none !important;
}
    .bot.danger {
        display: block !important;
    }
.bot iframe{
	width:100%;
	height:0px;
    border:0px;
}