.panel-heading button{
	float:right;
}
.panel ul li span{
	display:inline-block;
	float:right;
}
.hero{
	display:none;
}
.hero.active{
	display:block;
}
.hero td,.hero th{
	padding-top:10px !important;
	padding-bottom:10px !important;
	height:40px;
}
.skillChart {
	width:40%;
	padding:0;
	position:relative;
}
.skillChart>div {
	min-height:225px;
}

.hitbypoedata1 div,.hitbypoedata2 div,.hitbypoedata3 div{
	width:20%;
	float:left;
	border-bottom: 1px solid #ddd;
}

.hitbypoedata1 div div,.hitbypoedata2 div div,.hitbypoedata3 div div{
	width:auto;
	padding: 10px 10px;
	border-bottom: 0px;
}